page-welcome-capture {
    #textfield {
        padding-left: 0;
        bottom: 20px;
    }

    #text-benutzername {
        font-size: 0.5em;
        margin: -1em 0 1em 0;
    }

    #select-popover {
        padding-left: 0;
        bottom: 15px;
    }

    .fixedLabel {
        text-align: right;
        order: 2
    }

    #radio-group2 {
        padding-left: 0;
    }
    
    .accordion-list {
        background: color($colors, light);
        height: 100%;
    }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 4px;
    }
    .section-active {
        background: #fff;
        color: #000;
    }
 
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }
}
