page-journal-entry {

    .no-scroll .scroll-content{
        overflow: hidden;
    }

    .JEntryDiv{
        margin-left: -15px;
    }

    .smileyBtn{
        width: 56px;
        height: 56px;
    }

    .smileyBtn:focus { /*show selected button*/
        border: 2px solid #000000;
      }

    ion-icon{
        font-size: 56px;
    }

    .fab1{
        top: 220px;
        left: 270px;
        right: 10px;
    }

    .checkmark-circle{
        width: 56px;
        height: 56px;
        margin-right: 10px;
        bottom: -5px;
    }
}
