<ion-header>

    <ion-navbar hideBackButton="true">
        <ion-title>
            <title-logo text="Profil"></title-logo>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <p></p>
    <p>Hier können Sie sämtliche Angaben und Einstellungen verwalten.</p>

    <ion-list class="with-borders">
        <button ion-item (click)="gotoProfileCustomizePage()">
            <span class="highlight">Profil anpassen</span>
        </button>

        <button ion-item (click)="gotoProfileCustomizecontactsPage()">
            <span class="highlight">Kontakte anpassen / erfassen</span>
        </button>

        <button ion-item (click)="gotoProfileBiovotionPage()">
            <span class="highlight">Biovotion Everion Sensor verbinden</span>
        </button>

        <button ion-item (click)="login()" *ngIf="!isLoggedIn()">
            <span class="highlight">MIDATA verbinden</span>
        </button>

        <button ion-item (click)="logout()" *ngIf="isLoggedIn()">
            <span class="highlight">MIDATA Verbindung trennen</span>
        </button>
    </ion-list>

    <p>Mehr:</p>

    <ion-list class="with-borders">
        <button ion-item (click)="gotoProfileImpressumPage()">
            <span class="highlight">Impressum</span>
        </button>

        <button ion-item (click)="gotoProfilePrivacyPage()">
            <span class="highlight">Datenschutzerklärung</span>
        </button>

        <button ion-item (click)="gotoProfileTermsPage()">
            <span class="highlight">Nutzungsbedingungen</span>
        </button>
    </ion-list>

</ion-content>