page-help {

  .scroll-content {
    overflow-y: hidden;
  }

  .help-buttons {
    margin-bottom: 1em;

    p {
      margin-bottom: 0.5em;
    }

    button {
      width: 30%;
      text-transform: initial;
    }

    .button-inner {
      flex-flow: column;

      span {
        display: block;
        font-size: 1.2rem;
        color: #000;
        padding: 4px 0 0 0;
      }
    }
  }

}
