<ion-header>

    <ion-navbar hideBackButton="true">
        <ion-title>
            <title-logo text="Gewichtsangaben neu erfassen"></title-logo>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <p *ngIf="message">{{message}}</p>

        <div *ngIf="state === 'FORM'">
            <p>Aktuelles Gewicht:</p>
            <ion-item id="textfield">
                <ion-input [(ngModel)]="currentWeight" formControlName="currentWeight" type="number">
                </ion-input>
                <ion-label color="primary" class="fixedLabel" fixed>kg</ion-label>
            </ion-item>
            <p *ngIf="isSubmitted && !formGroup.controls.currentWeight.valid" class="error-message">
                Bitte das aktuelle Gewicht korrekt eingeben.
            </p>

            <p>In der nächsten Woche möchte ich</p>
            <ion-item id="textfield">
                <ion-input [(ngModel)]="weightGains" type="number" formControlName="weightGains">
                </ion-input>
                <ion-label color="primary" class="fixedLabel" fixed>(500-1500gr)</ion-label>
            </ion-item>
            <p *ngIf="isSubmitted && !formGroup.controls.weightGains.valid" class="error-message">
                Bitte den Wochenfortschritt korrekt eingeben.
            </p>
            <p>gewinnen.</p>
        </div>

    </form>

</ion-content>

<ion-footer no-shadow>
    <ion-toolbar position="bottom">
        <button *ngIf="state === 'FORM'" ion-button [color]="primary" [outline]="false" [round]="true" (click)="saveData()">
            Speichern
        </button>

        <button *ngIf="state === 'DONE'" ion-button [color]="primary" [outline]="false" [round]="true" (click)="gotoTabsPage()">
            Weiter
        </button>
    </ion-toolbar>
</ion-footer>