page-welcome-contact2 {

    #textfield {
        padding-left: 0;
        bottom: 20px;
    }

    #telefonnummer {
        padding-left: 0;
        bottom: 20px;
    }

    #text {
        padding-left: 0;
        bottom: 20px;
    }

    #e-mail {
        padding-left: 0;
        bottom: 20px;
    }

    #save-text {
        font-size: 0.5em;
        margin: -1em 0 1em 0;
    }
    
}
